{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}


	<div class="form">

		{{ form_start(registrationForm) }}
		<h1>Register</h1>
		<div class="form-control">
			{{ form_label(registrationForm.email, 'Email', {
                label_attr: {
                    class: 'label-form'
                    }
                }) 
            }}
			{{ form_widget(registrationForm.email, {
                attr: {
                    class: 'input-form'
                    }
                }) 
            }}
		</div>

		<div class="form-control">
			{{ form_row(registrationForm.plainPassword, {
            label: 'Password',
            label_attr: {
                    class: 'label-form'
                    },
            attr: {
                    class: 'input-form'
                    }
                })
            }}
		</div>

		<div class="form-control">
			{{ form_row(registrationForm.prenom, {
            label: 'Prénom',
            label_attr: {
                    class: 'label-form'
                    },
            attr: {
                    class: 'input-form'
                    }
                })
            }}
		</div>

		<div class="form-control">
			{{ form_row(registrationForm.nom, {
            label: 'Nom',
            label_attr: {
                    class: 'label-form'
                    },
            attr: {
                    class: 'input-form'
                    }
                })
            }}
		</div>

		<div class="form-control">
			{{ form_row(registrationForm.telephone, {
            label: 'Telephone',
            label_attr: {
                    class: 'label-form'
                    },
            attr: {
                    class: 'input-form'
                    }
                })
            }}
		</div>

		<div>{{ form_row(registrationForm.agreeTerms) }}</div>

		<button type="submit" class="butn">Register</button>


		{{ form_end(registrationForm) }}


	</div>


{% endblock %}
