<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.0Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
		<link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
	</head>
	<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

		<table bgcolor="#343846" width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
			<tbody>
				<tr>
					<td style="
                            color:#ddd;
                            text-align: center;
                        ">
						<h5 style="color:#ddd;">Confirmation de réservation</h5>
                    </td>
                </tr>
                <tr>
					<td>
						<p style="
                            color:#ddd;
                            text-align: center;
                        " >
                            
							Infos de votre réservation : <br>
                            {{}}
                            Date et heure de votre créneau : {{ contact.date.date }} à {{ contact.date.time.hour }}<br>
                            Choix d'espace : {{ contact.espace }} <br>
                            Nombre de participant.es : {{ contact.nb_joueurs }}<br>
                            Vous avez payés : {{ contact.prix_total }}</p>
                    </td>
                </tr>
                {# <tr>
                    <td>
						<p style="
                            color:#ddd;
                            text-align: justify;
                        " >Message : <br>
                        {{ contact.message }}</p> 
                    </td>
                </tr> #}
            </tbody>
		</table>
	</body>
</html>
