{% extends 'base.html.twig' %}

{% block title %}VIRTUALITY - Toutes les réservation{% endblock %}

{% block body %}
    <h1>Toutes les réservation</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Nb_joueurs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.date ? reservation.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.nbJoueurs }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}"><button class="butn">Voir</button></a>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}"><button class="butn">Editer</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_new') }}"><button class="butn">Créer un nouveau</button></a>
{% endblock %}
