{% extends 'base.html.twig' %}

{% block title %}VIRTUALITY - Tous les tournois{% endblock %}

{% block body %}
    <h1>Tous les tournois</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date_debut</th>
                <th>Description</th>
                <th>Max_player</th>
                {# <th>User</th> #}
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tournoi in tournois %}
            <tr>
                <td>{{ tournoi.id }}</td>
                <td>{{ tournoi.titre }}</td>
                <td>{{ tournoi.dateDebut ? tournoi.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ tournoi.description }}</td>
                <td>{{ tournoi.maxPlayer }}</td>
                {# <td>{{ tournoi.Joueurs.prenom ? tournoi.Joueur.prenom|join(', ') : '' }}</td> #}
                <td>{{ tournoi.prix }}</td>
                <td>
                    <a href="{{ path('tournois_show', {'id': tournoi.id}) }}"><button class="butn">Voir</button></a>
                    <a href="{{ path('tournois_edit', {'id': tournoi.id}) }}"><button class="butn">Editer</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tournois_new') }}"><button class="butn">Nouveau</button></a>
{% endblock %}
