<div class="vignette">
	<a href="{{ path('tournoi_detail', {'id': tournoi.id}) }}"><img src="/img/{{tournoi.jeu.imgCover}}" alt="">
		<div class="vignette-content">

			<div>
				<p class="titre">{{ tournoi.jeu.titre }}</p>
				<p class="type">{{ tournoi.description }}</p>
				<p class="type">{{tournoi.prix}}</p>
				<p>{{ tournoi.dateDebut ? tournoi.dateDebut|date('d-m-Y') : '' }}</p>
			</div>
		</a>
	</div>

</div>

