{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<h1>Bonjour {{app.user.prenom}}</h1>
<h2>Voici vos informations:</h2>
<ul>
    <li>Prenom : {{app.user.prenom}}</li>
    <li>Nom : {{app.user.nom}}</li>
    <li>Téléphone : {{app.user.telephone}}</li>
    <li>Adresse mail : {{app.user.email}}</li>
</ul>

<p>Vos reservations:</p>
<table class="table">
    <tr>
        <td>Reservation</td>
        <td>Date</td>
        <td>Nombre de joueurs</td>
        <td>Prix total</td>
    </tr>
    {% for reservation in app.user.reservations %}
        <tr>
            <td>Reservation {{reservation.id}}</td>
            <td>{{reservation.date|date("d/m/Y")}}</td>    
            <td>{{reservation.nbJoueurs}} joueurs</td>
            <td>{{reservation.prixTotal}} €</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}

