{% extends 'base.html.twig' %}

{% block title %}VIRTUALITY - Tarification{% endblock %}

{% block body %}
    <h2>Tarification</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Montant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prix in prixes %}
            <tr>
                <td>{{ prix.id }}</td>
                <td>{{ prix.titre }}</td>
                <td>{{ prix.montant }}</td>
                <td>
                    <a href="{{ path('prix_show', {'id': prix.id}) }}">show</a>
                    <a href="{{ path('prix_edit', {'id': prix.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prix_new') }}">Create new</a>
{% endblock %}
