{% extends 'base.html.twig' %}

{% block title %}{{jeux.titre}}{% endblock %}

{% block body %}

    <section class ="jeuShow">
        <div class="vignette">
            <img src="/img/{{jeux.imgCover}}" alt="" class="coverImg">
            <div>
                <h1>{{jeux.titre}}</h1>
                <h2>Edité par {{jeux.editeur}}</h2>
                <p>{{jeux.type}} sorti le {{jeux.date|date('d/m/Y')}}</p>
            </div>
        </div>
        <p class="jeuDescription">{{jeux.description}}</p>
        {% for pic in jeux.imgGameplay %}
            <img src="/img/{{pic}}" alt="" class="gameplayImg">
        {% endfor %}
        <a href="{{ path('jeux_edit', {'id': jeux.id}) }}"><button class="butn">Editer</button></a>
        <a href="{{ path('jeux_index') }}"><button class="butn">Retour a la liste</button></a>
    </section>


{% endblock %}
