<div class="vignette">

    <a href="{{ path('jeu_detail', {'id': jeu.id}) }}"><img src="/img/{{jeu.imgCover}}" alt=""></a>
    <div class="vignette-content">
        <div>
            <p class="titre">{{ jeu.titre }}</p>
            <p class="type">{{ jeu.type }}</p>
            <p class="description">{{ jeu.description }}</p>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <a class="links" href="{{ path('jeux_show', {'id': jeu.id}) }}"><p>Plus d'info</p></a>
        {% else %}
        <a class="links" href="{{ path('jeu_detail', {'id': jeu.id}) }}"><p>Plus d'info</p></a>
        {% endif %}
    </div>

</div>