{% extends 'base.html.twig' %}

{% block title %}{{tournoi.titre}}{% endblock %}

{% block body %}

    <section id="tournoi-detail">
    <h1>{{tournoi.titre}}</h1>
    <h2>{{tournoi.jeu.titre}}</h2>
    <p>{{tournoi.dateDebut|date('d/m/Y')}}</p><br>
    <p>{{tournoi.description}}</p>

    <h3>Max joueurs: {{tournoi.maxPlayer}}</h3>
    <h3>Liste des participants:</h3>
    <ul>
        {% for u in tournoi.Joueurs %}
            <li>{{u.prenom}}</li>
        {% endfor %}
    </ul>
    </section>
    {% if exist %}
    <a href="{{path("desinscription_tournoi", {id: tournoi.id})}}"><button class ="butn">Se desinscrire du tournoi</button></a>
    {% else %}
    <a href="{{path("inscription_tournoi", {id: tournoi.id})}}"><button class ="butn">S'inscrire au tournoi</button></a>
    {% endif %}

{% endblock %}