<header>
    <nav>
	<a class = "logo" href="{{ path("home") }}">VIRTUALITY</a>
	<p class = "ouverture">Ouvert 7j/7 - De 9h00 à 20h00</p>
	<div class="menu-button__wrapper">
		<div class="menu-button">
			<span class="menu-button__bar"></span>
			<span class="menu-button__bar"></span>
			<span class="menu-button__bar"></span>
		</div>
	</div>
    </nav>

	<div class="menu-overlay">
		<nav class="nav">
			<a href="{{ path("jeux_index") }}">Jeux</a>
			<a href="{{ path("prix_index") }}">Prix</a>
			<a href="{{ path("reservation_index") }}">Reservation</a>
			<a href="{{ path("tournois_index") }}">Tournois</a>
			<a href="{{ path("user_index") }}">User</a>
		</nav>
	</div>
</header>
