<header>
    <nav>
	<a class="logo links" href="{{ path("home") }}">VIRTUALITY</a>
	{% if app.user %}
	<p class="logs">Bonjour <a href='{{path('profil')}}'>{{app.user.prenom}}</a></p>
	{% endif %}
	<p class = "ouverture">Ouvert 7j/7 - De 9h00 à 20h00</p>
	<div class="menu-button__wrapper">
		<div class="menu-button">
			<span class="menu-button__bar"></span>
			<span class="menu-button__bar"></span>
			<span class="menu-button__bar"></span>
		</div>
	</div>
    </nav>

	<div class="menu-overlay">
		<nav class="nav-login">
			<a class="links" href="{{path("app_login")}}">Connexion</a>
			<a class="links" href="{{ path("app_register") }}">Inscription</a>
		</nav>
		<nav class="nav">
			<a class="links" href="{{ path("home") }}">Accueil</a>
			<a class="links" href="{{ path("jeux_index") }}">Liste des jeux</a>
			<a class="links" href="{{ path("prix_index") }}">Tarification</a>
			<a class="links" href="{{ path("tournois_index") }}">Tournois</a>
			{% if is_granted('ROLE_ADMIN') %}
				<a class="links" href="{{ path("user_index") }}">Utilisateur</a>
				<a class="links" href="{{ path("reservation_index") }}">Reservation</a>
			{% endif %}
		</nav>
		{# <nav class="nav">
			<p>BackOffice :</p>
			<a href="{{ path("user_index") }}">Utilisateur</a>
		</nav> #}
	</div>
</header>
