<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Virtuality{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('home') }}
            {{ encore_entry_link_tags('footer') }}
            {{ encore_entry_link_tags('menu') }}

        {% endblock %}

        
    </head>
    <body>
        {% include "_menu.html.twig" %}
        
        <main class="main-width">
            {% block body %}{% endblock %}
        </main>
        
        {% include "_footer.html.twig" %}
        {% block javascripts %}
            {{ encore_entry_script_tags("menu") }}
            {{ encore_entry_script_tags("app") }}
        {% endblock %}
    </body>
</html>